// $color-podcast-item-background: linear-gradient(5deg, #bac7d4 0%, #97a4b9 80%, #4f5a6e);
// $color-podcast-item-background: linear-gradient(5deg, #ced9e4 0%, #a9b8ce 70%, #5e6b83);
$color-podcast-item-background: linear-gradient(5deg, #e7eaf0 0%, #e7eaf0 70%, #aab3c7);
$color-podcast-item-background: linear-gradient(0deg, #cddee7 0%, #cbd3e7 70%, #25385e);
$color-podcast-item-background-mobile: linear-gradient(0deg, #cddee7 0%, #aeb9d4 60%, #25385e);
// $color-podcast-item-background: linear-gradient(#7c8d9e, #acbeca);
// $color-podcast-item-font: rgb(96, 102, 121);
$color-podcast-item-font: rgb(58, 63, 71);
$color-podcast-item-font-secondary: rgb(19, 70, 146);

.podcast-item-inner-container {
  padding: 20px;
  padding-top: 0;
  padding-left: 50px;
  font-size: 15px;
  color: $color-podcast-item-font;
  position: relative;
}

// .podcast-item-inner-container:after {
//   position: absolute;
//   bottom:0;
//   left:0;
//   content: " ";
//   background-image: url('./img/elzat.png') !important;
//   // background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Deletion_icon.svg/600px-Deletion_icon.svg.png);
//   background-size: 100% 100%;
//   width: 50%;
//   height: 50%;
//   margin: 2px;
//   z-index: 0;
//   float: left;
// }

.podcast-total-container {
    // box-shadow: 0 0 2rem rgba(0,0,0,.1);
}

.podcast-item-container {
    // background: #52616e;
    // background: $color-podcast-item-background;
    background: white;
    margin-left: -60px;
    width: 100%;
    height: 100%;
    // border: 1px solid rgb(200,200,200);
    // box-shadow: 5px 5px solid grey;
    // box-shadow: 0 0 2rem rgba(0,0,0,0.1);
    border-radius: 10px;
    background: $color-podcast-item-background;
    // box-shadow: 5px 5px rgb(209, 209, 209);
    // box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }  
  
  .podcast-item-container > h3 {
    color: $color-podcast-item-font;
    font-family: Times;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .podcast-item-container > h2 {
    color: $color-podcast-item-font;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .podcast-item-container > div > p {
    color: $color-podcast-item-font;
  }

  .cibc-img-container {
    width: 225px;
    background-image: url('./img/elzat.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    z-index: 10;
    // background-color: white;
    // background-color: $color-podcast-item-background;
    text-align: center;
  }
  
  .accenture-img-container {
    width: 225px;
    background-image: url('./img/mason.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    z-index: 10;
    // background-color: white;
    // background-color: $color-podcast-item-background;
    text-align: center;
  }

  .heather-img-container {
    width: 225px;
    background-image: url('./img/heather.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    z-index: 10;
    // background-color: white;
    // background-color: $color-podcast-item-background;
    text-align: center;
  }

  .hyundai-img-container {
    width: 225px;
    background-image: url('./img/vincent.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    z-index: 10;
    // background-color: white;
    // background-color: $color-podcast-item-background;
    text-align: center;
  }

  .jeremy-img-container {
    width: 225px;
    background-image: url('./img/jeremy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    z-index: 10;
    // background-color: white;
    // background-color: $color-podcast-item-background;
    text-align: center;
  }

  .anonymous-img-container {
    width: 225px;
    // background-image: url('./img/anonymous.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 10;
    // background-color: white;
    // background-color: $color-podcast-item-background;
    text-align: center;
  }

  .radiomogul-img-container {
    width: 225px;
    background-image: url('./img/greg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: $color-podcast-item-background;
    text-align: center;
  }

  .flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: stretch;
    align-content: space-between;
    transition: all 300ms;
    width: 100%;
    // height: 100%;
    // background-color: rgb(245,245,245);
  }

  .flex-row-container:hover {
      // background-color: rgba(150, 150, 150, 0.5);
      // zoom: 1.1;
      transition: all 300ms;
    }

  .deloitte-img-container {
    width: 200px;
    background-image: url('./img/elzat.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  }

  
#podcast-page {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: center;
    // padding-bottom: 0;
    // background-color: rgb(0, 0, 0);
    // background-color: rgb(234,241,245);
    background-color: white;
    // background: linear-gradient(90deg, transparent 30%, rgb(211, 226, 220),  rgb(211, 222, 226), rgb(190, 196, 216));
    // background: linear-gradient(rgb(189, 193, 201), rgb(255, 255, 255));
    // padding: 2rem 0;
  }

.broski {
    position: sticky;
    bottom: 0;

    // position: fixed;
    // right: 0;
    // bottom: 0;
    // width: 59.9%;
}

.base-podcast-section > h1 {
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 300;
}

.base-podcast-section > p {
  margin: 0;
}

.base-podcast-section > h2 {
    font-size: 18px;
    // font-family: 'Lato';
    // font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Montserrat;
    // font-family: Montserrat;
    font-weight: 700;
}

.base-podcast-section > h2 > span {
    font-size: 14px;
    margin-left: 10px;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    color: black;
    font-family: Arial;
    font-weight: 300;
}

.grid-card {
    color: white;
    background-color: rgb(160, 176, 182);
}

@media (max-width: 575px) {
  
  #podcast-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
  }

  .grid-container-wide {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    place-items: center;
    align-items: stretch;
    padding: 8px 0px 0px 0px;
  }
  
  .podcast-item-container {
    background: $color-podcast-item-background-mobile;
    // background: linear-gradient(90deg, $color-podcast-item-background 10%, $color-podcast-item-background-secondary 100%);
    margin-left: 0;
    width: 100%;
    height: 100%;
  }

  .flex-row-container {
    display: block;
  }
  
  .cibc-img-container {
    background-image: none;
  }
  
  .accenture-img-container {
    background-image: none;
  }

  .heather-img-container {
    background-image: none;
  }

  .jeremy-img-container {
    background-image: none;
  }

  .hyundai-img-container {
    background-image: none;
  }

  .bloomberg-img-container {
    background-image: none;
  }

  .radiomogul-img-container {
    background-image: none;
  }

  .anonymous-img-container {
    background-image: none;
  }

  #count-up-content-container {
    display: grid;
    grid-template-columns: 35% 65%;
    // grid-template-columns: auto auto;
    text-align: left;
    font-weight: 700;
  }

  .podcast-item-inner-container {
    padding: 20px;
    padding-top: 0;
    font-size: 15px;
    color: $color-podcast-item-font;
    position: relative;
  }   
}

#help {
  display: flex;
  align-items:center;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}

.podcast-container {
  // background-color: rgb(222, 230, 241);
  // background: linear-gradient(90deg,rgb(231, 231, 231) 50%, rgba(197, 197, 197, 0) 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  // border-left: 1px solid rgb(210,210,210);
  // border-right: 1px solid rgb(210,210,210);
}

.guest-summary-section {
  color: black;
  transition: all 0.5s ease-in-out;
}

.guest-summary-section > h2 {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.base-podcast-section {
  color: black;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  // padding: 15px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  margin: 0px 0px 25px 0px;
}

.base-podcast-section:hover {
  // text-decoration: underline;
  // padding: 12px 15px 12px 15px;
  background-color: gainsboro;
  // background-color: #eaf1f5;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.active-podcast-section {
  color: white;
  padding: 12px 15px 12px 15px;
  background-color: rgb(53, 56, 80);
  transition: all 0.5s ease-in-out;
  margin: 20px 0px 20px 0px;
}

@media (min-width: 575px) {
  #count-up-content-container {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  #count-up-content-container {
    display: grid;
    grid-template-columns: 15% 85%;
    // grid-template-columns: auto auto;
    text-align: left;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  
  .feedback-card {
    border-radius: 10px;
    margin-top: -60px;
    box-shadow: -40px 40px rgb(168, 180, 201);
    margin-right: 85px !important;
  }

  #count-up-content-container {
    display: grid;
    grid-template-columns: 30% 70%;
    // grid-template-columns: auto auto;
    text-align: left;
    font-weight: 700;
  }
  .podcast-sneakpeak-image {
    height: 400px;
    transform: perspective(1000px) rotateX(25deg) rotateY(25deg) rotateZ(-15deg);
    background-size: cover;
    margin-right: 70px;
  }
  .podcast-sneakpeak-image-container {
    height: 400px;
    width: 800px;
    transform: perspective(1000px) rotateX(25deg) rotateY(25deg) rotateZ(-15deg);
    background-size: cover;
    margin-right: 70px;
  }
  .podcast-sneakpeak-image-primary {
    position: absolute;
    top: -50px;
    left: 50px;
    height: 350px;
    transform: perspective(1000px) rotateX(4deg) rotateY(4deg) rotateZ(0deg);
    background-size: cover;
    margin-right: 70px;
  }
  .podcast-sneakpeak-image-secondary {
    border: 1px solid rgb(180,180,180);
    position: absolute;
    top: 100px;
    left: 0;
    height: 300px;
    transform: perspective(1000px) rotateX(4deg) rotateY(4deg) rotateZ(0deg);
    background-size: cover;
    margin-right: 70px;
    box-shadow: -10px 5px rgb(220,220,220);
    // transition: top 0.2s, transform 5s ease;
  }

  // .podcast-sneakpeak-image-secondary:hover {
  //   top: 80px;
  //   transition: top 0.2s, transform 5s ease;
  // }
}

@media (max-width: 992px) {
  .podcast-side-menu {
    margin-bottom: 35px;
  }
  .podcast-sneakpeak-image {
    height: 0px; // completely make the image invisible.
  }
  .podcast-sneakpeak-image-primary {
    display: none; // completely make the image invisible.
  }
  .podcast-sneakpeak-image-secondary {
    display: none; // completely make the image invisible.
  }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.border-pause {
  position: relative;
  // background-color: rgb(53, 56, 80);
	z-index: 0;
  border-radius: 0px;
  border: 1px solid white;
  color: white;
	overflow: hidden;
  padding: 15px 18px 15px 18px;
  background-color: rgb(77, 77, 77) !important;
  transition: all 0.7s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.7s ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.7s ease-in-out;
  }
}

.border-play {
  position: relative;
  // background-color: rgb(53, 56, 80);
	z-index: 0;
  border-radius: 0px;
  border: 1px solid white;
  color: white;
	overflow: hidden;
  padding: 15px 18px 15px 18px;
  background-color: rgb(55, 59, 83);
  transition: all 0.7s ease-in-out;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
    left: -100%;
		top: -250%; // -100
		width: 300%;
		height: 600%; // 300
		// background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-color: rgb(55, 59, 83);
		background-image: linear-gradient(#b8d8ee25, #98b5c9),linear-gradient(#b8d8ee25, #98b5c9);
    animation: rotate 60s linear infinite;
    transition: all 0.7s ease-in-out;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
    top: 6px;
    color: white;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background-color: rgb(55, 59, 83);
    transition: all 0.7s ease-in-out;
  }
  
  .feedback-card {
    margin: 0; 
  }
}

.podcast-player-container > h1 {
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: Montserrat;
  font-size: 700;
  border-bottom: 1px solid rgb(200,200,200);
  // border-bottom: 1px solid rgb(0,0,0);
}

.guest-summary-section {
  // background: $color-podcast-item-background;
  // background: linear-gradient(90deg, rgba(0,0,0,0) 0%, $color-podcast-item-background 10%, $color-podcast-item-background 100%);  
}

.active-filter {
  color: white !important;
  background-color: rgb(55, 59, 83) !important;
  // background-color: black !important;
}

.deactive-filter {
  color: black !important;
  // background-color: white !important;
  background-color: white !important;
}

.pocast-card-container {
  border: 1px solid black;
  background-color: grey;
}

.rhap_header {
  background-color: rgb(222, 229, 235);
  padding: 5px 8px 5px 8px;
  border-radius: 20px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

#current-title-container > p {
  margin: 0;
  padding: 0px 3px 0px 15px;
  // background-color: rgb(228, 232, 236);
  background-color: rgb(255,255,255);
  font-size: 14px;
  border-top: 1px solid rgb(225,225,225);
}

#currently-being-played {
  position: relative;
  width: 100%;
}

.podcast-name-title {
  // padding: 10px;
  // margin: -10px;
  color: black;
  position: relative;
  margin-bottom: 25px;
  // background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(212, 236, 238, 1) 10%, rgba(212, 219, 238, 1) 100%);
  // background: linear-gradient(90deg, rgb(239, 244, 247), rgb(226, 225, 241), rgba(0,0,0,0));
  // box-shadow: 5px 5px black;
  // border-left: 2px rgb(149, 169, 173) solid;
  // border-top: 2px rgb(149, 169, 173) solid;
  // background: linear-gradient(rgba(149, 169, 173, 0.2), rgba(0,0,0,0));
  // background: linear-gradient(rgb(215, 230, 240), rgb(202, 240, 227));
  // padding: 20px;
  // border-radius: 10px;
  // background: linear-gradient(90deg, rgb(187, 207, 228) 20%, rgb(212, 253, 246) 50%, rgba(0,0,0,0) 80%, rgba(0,0,0,0) 100%);
}

.podcast-item-container > h3 {
  // font-family: Georgia;
  font-family: Montserrat;
  color: $color-podcast-item-font;
  color: white;
  // margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 12px 10px 2px 10px;
  text-align: center;
}

.podcast-name-title > p{
  font-family: "Song Myung";
  font-weight: 300;
  font-size: 25px;
  // background-color: black;
  background: -webkit-linear-gradient(90deg, rgb(140, 176, 182) 50%,rgb(143, 167, 226));
  // background: black;
  // background: -webkit-linear-gradient(rgb(189, 213, 218) 10%,rgb(188, 207, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.podcast-name-title > h2{
  color: black;
}

.podcast-name-title::before {
  // content:"개선 : 改善";
  // content: "청춘이. 청춘에게. 위로하다.";
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 15px;
  font-weight: 300;
  font-family: 궁서;
  background: -webkit-linear-gradient(rgb(149, 169, 173) 10%,rgb(180, 190, 216));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.podcast-item-inner-container > div > span {
  font-size: 18px;
  // font-family: 'Lato';
  font-family: Montserrat;
  text-align: left;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: $color-podcast-item-font;
  // color: white;
  // color: $color-podcast-item-font-secondary;
  margin-bottom: 2px;
  margin-left: -8px;
  // background-color: rgba(0, 0, 0, 0.2);
  padding: 1px 8px 2px 8px;
  border-radius: 20px;
}

#count-up-number {
  font-size: 50px;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

#count-up-container {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

#count-up-container > p {
  font-family: 궁서;
  font-size: 15px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

#count-up-content-container > p {
  margin: 0;
  line-height: 1.2em;
  text-align: left;
}

.korean-text {
  font-size: 50px;
  font-weight: 300;
  font-family: 돋음;
  color: rgb(206, 206, 206);
}

.podcast-side-menu {
}

#podcast-page {
  display: flex;
  align-items: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.swiper-container {
  display: flex;
}

.podcast-card-container {
  background: linear-gradient(90deg, transparent,rgb(229, 235, 240), rgb(220, 225, 238));
  border-radius: 10px;
}

.podcast-pagination-container {
  padding-top: 6px;
  padding-right: 10px;
  // color: white;
  display: flex;
  justify-content: flex-end;
}

.podcast-pagination-navigator:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}

.error-message {
  color: rgb(165, 41, 41);
  font-size: 14px;
}

.success-message {
  color: rgb(41, 165, 62);
  font-size: 14px;
}

// .podcast-pagination-navigator > svg {
//   font-size: 2em;
// }